:root {
  --bg-dark: #0f141e;
  --bg-light: #f9f9f9;
  --dark-color: rgba(15, 20, 30, 0.8);
  --danger-color: #ea4343;
  --bg-light-alt: hsl(0, 0%, 100%);
  --bg-color-theme: hsl(210, 3%, 16%);
  --bg-color: hsl(216, 18%, 16%);
  --bg-color-alt: hsl(216, 3%, 35%);
  --container-color: hsl(217, 18%, 14%);
  --card-color: hsl(214, 6%, 76%);
  --first-gradient: linear-gradient(
    0deg,
    var(--bg-color-alt) 0%,
    var(--bg-color) 100%
  );
  --second-gradient: linear-gradient(
    180deg,
    var(--bg-color-alt) 0%,
    var(--bg-color) 100%
  );
  --third-gradient: linear-gradient(
    180deg,
    var(--bg-color) 0%,
    var(--bg-color) 100%
  );

  --body-font: "Jost", sans-serif;
  --second-font: "Caveat", cursive;
  --biggest-font-size: 90px;

  --transition: cubic-bazier(0.3, 0, 0.3, 1);
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  color: var(--bg-dark);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  padding: 0 20px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--bg-dark);
}
p {
  margin: 15px 0;
  font-weight: 500;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--body-font);
}
button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
img {
  max-width: 100%;
}
.reveal {
  transform: translateY(200px);
  opacity: 0;
  transition: all 2s ease;
}
.show {
  transform: translateY(0px);
  opacity: 1;
}
.grid {
  display: grid;
  grid-template-columns: 3fr 4fr;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  height: 100%;
  padding: 40px 0;
}
.text-cs {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.btn,
.hero-link {
  color: var(--title-color);
  font-size: 13px;
  font-weight: 700;
  height: 56px;
  display: grid;
  place-items: center;
  position: relative;
  z-index: 1;
}

.active {
  color: var(--danger-color) !important;
}

.scroll-top {
  position: sticky;
  bottom: 20;
  right: 20;
  z-index: 100;
}
.card {
  background-color: var(--card-color);
  overflow: hidden;
  text-align: left;
  position: relative;
  z-index: 0;
}
.card-one {
  margin-top: 30px;
  padding: 30px 35px;
  border-radius: 18px;
  z-index: 0;
}
.card-two {
  margin-top: 0;
  padding: 20px;
  border-radius: 20px;
  z-index: 0;
}

.link {
  display: inline-flex;
  align-items: center;
  font-weight: 700;
}

.link-icon {
  color: var(--danger-color);
  margin-left: 10px;
  transition: all 0.3s var(--transition);
}

.link:hover .link-icon {
  margin-left: 15px;
}

.dark-theme {
  --bg-dark: #f9f9f9;
  --bg-light: #0f141e;
  --bg-light-alt: #0f141e;
  --card-color: hsl(210, 2%, 38%);
  --bg-color-alt: #f9f9f9;
  --dark-color: #f9f9f9;
  --bg-color-theme: #f9f9f9;
}
